*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  font-family: sans-serif;
}

.cmp_light_logo {
    background: url(https://d3ptyyxy2at9ui.cloudfront.net/3d07fe9f12eef2c1f0d9382177ea6f2b.png) 0 0 no-repeat;
    background-position: 0 -2305px;
    width: 25px;
    height: 25px;
}

#logo {
  float: left;
  margin-left: 35px;
}